<%= form_for(@memocity) do |f| %>
  <% if @memocity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memocity.errors.count, "error") %> prohibited this memocity from being saved:</h2>

      <ul>
      <% @memocity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :phoneNumberMemo, placeholder: "Teléfono. Ejemplo: 56912345678" %>
  </div>
  <div class="field">
    <%= f.text_area :contentMemo, placeholder: "Contenido a recordar" %>
  </div>
  <div class="field">
    <%= f.label "Cuando activar" %><br>
    <%= f.datetime_select :activationDateMemo %>
  </div>
  <div class="actions">
    <%= f.submit "Generar" %>
  </div>
<% end %>
