<p id="notice"><%= notice %></p>

<h2>Resumen del recordatorio</h2>
<p>
  <strong>Número a llamar:</strong>
  <%= @memocity.phoneNumberMemo %>
</p>

<p>
  <strong>Qué se recordará:</strong>
  <%= @memocity.contentMemo %>
</p>

<p>
  <strong>Cuando se llamará:</strong>
  <%= @memocity.activationDateMemo.strftime("%d/%m/%y a las %H:%M") %>
</p>

<%= link_to 'Editar', edit_memocity_path(@memocity), class: "btn btn-success" %> |
<%= link_to 'Guardar', memocities_path, class: "btn btn-success" %>
